.title{
  text-align: center;
  line-height:50px;
  background:gray;
  color: white;
}
.dsply{
  display:flex;
}
.friend-area{
  border-right:2px solid gray;
  width:70%;
  text-align:center;
}
.add-friends{
  text-align:right;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
